@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a Pelis+!</h1>
    <p>Si eres un fánatico de las películas, o si solo disfrutas de pasar un buen rato, ¡este es el lugar para ti!</p>
</div>
