@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bienvenido a Cine Plus! Si eres un fánatico del cine, o lo tuyo simplemente es pasar un buen rato, estás en el lugar correcto!</p>
</div>
